.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-area: n;
    background-color: #013381;
}

.item a{
    text-decoration: none;
    color: ghostwhite;
}

.item .activeLink {
    color: crimson;
}