.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
    /*grid-area: n;*/
    background-color: #013381;
}

.item a{
    text-decoration: none;
    color: white;
}

.item .activeLink {
    color: crimson;
}