.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-area: n;
    background-color: #f6ba24;
}

.item a{
    text-decoration: none;
    color: ghostwhite;
}

.item .activeLink {
    color: black;
}