.app-wrapper {

    background-color: crimson;
    display: grid;

    grid-template-areas:
    'h h'
    'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    padding: 10px;
    color: white;
    grid-area: c;
    background-color: #131313;
}





